%div.container
  %h1 Please log in
  %form
    %label(for="user") User
    %input(name="user" type="text")
    %label(for="Password") Password
    %input(type="password")
    %input(type="submit" value="Log in" action="/login" formmethod="post")
    %a(href="/users/register") Register
